/**
* ---------------------------------------------------------------------------------------------------------------------------------------
* Main styles
* ---------------------------------------------------------------------------------------------------------------------------------------
*/
.l-main{
	min-height: 600px;
	margin-bottom: 70px;

}
.l-date-col{
	width: 150px;
}
.l-type-col{
	width: 150px;
}
.l-activity-col{

}
.l-estimate-col{
	width: 150px;
}
.l-real-col{
	width: 150px;
}

.alert-dismissable{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}